appnope==0.1.2
asttokens==2.0.5
backcall==0.2.0
blinker==1.6.3
Bottleneck==1.3.5
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
comm==0.1.2
debugpy==1.6.7
decorator==5.1.1
exceptiongroup==1.0.4
executing==0.8.3
Flask==3.0.0
flask-googlemaps==0.4.1
Flask-SQLAlchemy==3.0.2
ghp-import==2.1.0
greenlet==2.0.1
htmlmin==0.1.12
idna==3.4
ipykernel==6.25.0
ipython==8.15.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
jsmin==3.0.1
jupyter_client==8.1.0
jupyter_core==5.3.0
Markdown==3.5
MarkupSafe==2.1.3
matplotlib-inline==0.1.6
mergedeep==1.3.4
mkdocs==1.5.3
mkdocs-material==5.5.14
mkdocs-material-extensions==1.2
mkdocs-minify-plugin==0.3.0
nest-asyncio==1.5.6
numexpr==2.8.7
numpy==1.26.0
packaging==23.1
pandas==2.0.3
parso==0.8.3
pathspec==0.11.2
pexpect==4.8.0
pickleshare==0.7.5
pip==23.2.1
platformdirs==3.10.0
prompt-toolkit==3.0.36
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.15.1
pymdown-extensions==10.3
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
pyyaml_env_tag==0.1
pyzmq==25.1.0
requests==2.31.0
setuptools==68.0.0
six==1.16.0
SQLAlchemy==2.0.21
stack-data==0.2.0
tornado==6.3.2
traitlets==5.7.1
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.6
watchdog==3.0.0
wcwidth==0.2.5
Werkzeug==3.0.0
wheel==0.41.2
